[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}

body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: #424242;
    background-color: #f5f5f5;
}

#board {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 30px auto;
    flex-wrap: nowrap;
    padding: 20px;
}

.column {
    width: 25%;
    position: relative;
    margin: 10px;
    position: relative;
    padding: 15px;
    border: 1px solid #d2d3d3;
    background: #ffffff;
    transition: background-color .3s ease;
}

.column-header {
    padding-top: 5px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    font-weight: bold;
    display: block;
    width: 100%;
    color: #424242;
    border-bottom: 1px solid #d2d3d3;
    text-align: center;
}

.column.over, .column.over:last-child {
    border: dashed 1px #555;
    background-color: #efefef;
}

.card-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card {
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #d2d3d3;
    /*border-left: 4px solid #f6bb43;*/
    transition: opacity .3s ease;
    cursor: move;
    transition: .2s;
    display: flex;
    align-items: space-around;
}

.card-desc {
    margin: 0;
    font-size: 14px;
    line-height: 22px;
    padding: 0;
    width: 85%;
}

.card-list .card:hover {
    background: #f4faff;
}

.card-list .card.dragging {
    opacity: 0.5;
}

.add-task-button {
    border-radius: 5px;
    display: block;
    color: #fff;
    padding-top: 10px;
    font-size: 14px;
    text-decoration: none;
    padding-bottom: 10px;
    background: #0071e0;
    text-align: center;
    transition: .2s;
}

.add-task-button:hover {
    background: #1487f9;
}

.checkbox-label {
    font-size: 12px;
    line-height: 15px;
    color: #333;
    font-weight: bold;
    position: relative;
    outline: none;
    margin-right: 10px;
    margin-left: 0;
    margin-top: 3px;
}

.checkbox-label:hover {
    cursor: pointer;
}

input[type="checkbox"].checkbox {
    display: none;
}

input[type="checkbox"]+.checkbox-label:before {
    content: '';
    background: #fff;
    border: 1px solid #d2d3d3;
    display: inline-block;
    width: 15px;
    height: 15px;
    cursor: pointer;
    text-align: center;
}

input[type="checkbox"]:checked+.checkbox-label:before {
    content: "\2713";
    color: #fff;
    background: #0071e0;
    border-color: #0071e0;
}

input[type="checkbox"]:focus+.checkbox-label:before {
    border-color: #0071e0;
}

input[type="checkbox"]+.checkbox-label:empty:before {
    margin-right: 0;
}
