[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}

* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: #424242;
    background-color: #ecf1f5;
}

.wrapper {
    position: absolute;
    left: 225px;
    top: 0;
    overflow-x: scroll;
    width: 82vw;
    height: 100vh;
}

.board-wrapper {
    width: 110%;
}

#board {
    display: flex;
    justify-content: center;
    width: 90vw;
    flex-wrap: nowrap;
    padding: 20px;
    position: relative;
}

.column {
    width: 25%;
    position: relative;
    margin: 10px;
    position: relative;
    padding: 15px;
    box-shadow: .8px .9px 3px grey;
    background: #f5f6fa;
    transition: background-color .3s ease;
}

.column-header {
    padding-top: 5px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    font-weight: bold;
    display: block;
    width: 100%;
    color: #424242;
    border-bottom: 1px solid #d2d3d3;
    text-align: center;
}

.column.over,
.column.over:last-child {
    border: dashed 1px #555;
    background-color: #efefef;
}

.card-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card {
    padding: 15px 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: #fff;
    transition: opacity .3s ease;
    cursor: pointer;
    transition: .2s;
    display: flex;
    align-items: space-around;
    position: relative;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .15);
}

.card-desc {
    margin: 0;
    font-size: 13px;
    line-height: 20px;
    padding: 0;
}

.card-info {
    width: 60%;
    padding: 0;
    overflow: hidden;
}

.card-photo {
    width: 50px;
    height: 50px;
    margin: auto 0;
    border-radius: 50%;
    background: #f9f9f9;
    overflow: hidden;
    margin-right: 15px;
}

.card-photo-item {
    width: 100%;
    height: 100%;
}

.card-title {
    margin: 0;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: lighter;
    padding-bottom: 10px;
    border-bottom: 1px solid #efefef;
}

.card-list .card:hover {
    background: #f4fdf4;
}

.card-list .card.dragging {
    opacity: 0.5;
}

.add-task-button {
    border-radius: 5px;
    display: block;
    color: #fff;
    padding-top: 12px;
    font-size: 14px;
    text-decoration: none;
    padding-bottom: 12px;
    background: #40C36F;
    text-align: center;
    transition: .2s;
}

.add-task-button:hover {
    background: #39b765;
}

.modal {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    border: 1px solid #d2d3d3;
    right: 0;
    top: 50%;
    background-color: #fff;
    width: 480px;
    height: 430px;
    border-radius: 4px;
    text-align: center;
    padding: 30px;
    opacity: 0;
    overflow-y: auto;
    visibility: hidden;
    margin-top: -220px;
    backface-visibility: hidden;
    transform: scale(1.2);
    transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    outline: 9999px solid rgba(0, 0, 0, 0.4);
}

.modal .close-modal {
    position: absolute;
    cursor: pointer;
    top: 5px;
    right: 15px;
    opacity: 0;
    backface-visibility: hidden;
    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    transition-delay: 0.3s;
}

.modal .close-modal svg {
    width: 1.75em;
    height: 1.75em;
}

.modal-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}

.modal-photo-item {
    width: 100%;
    display: block;
    height: 100%;
}

.control-icons {
    opacity: 0;
    margin-left: 10px;
    transition: .2s;
}

.control-icons-item {
    font-size: 12px;
    color: #999;
}

.modal .modal-content {
    width: 100%;
    opacity: 0;
    backface-visibility: hidden;
    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    transition-delay: 0.3s;
}

.priority-modal-content {
    font-size: 14px;
    border-top: 1px solid #f1f1f1;
    padding-top: 10px;
    font-weight: 700;
}

.priority-modal-content:first-letter {
    text-transform: uppercase;
}

.modal.active {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.modal.active .modal-content {
    opacity: 1;
}

.modal.active .close-modal {
    transform: translateY(10px);
    opacity: 1;
}

.modal-input {
    width: 95%;
    height: 30px;
    margin-bottom: 3%;
    border-radius: 5px;
    border: 1px solid #d2d3d3;
    font-size: 16px;
    color: #333;
    padding-left: 10px;
    padding-right: 10px;
}

.modal-textarea {
    border-radius: 5px;
    width: 95%;
    border: 1px solid #d2d3d3;
    font-size: 16px;
    color: #333;
    padding: 10px;
    height: 150px;
    margin-bottom: 3%;
    resize: none;
    font-family: 'Open Sans', sans-serif;
}

.modal-label {
    margin-left: auto;
    display: block;
    color: #d2d3d3;
    font-size: 14px;
    margin-bottom: 5px;
    text-align: left;
}

.card[data-priority='high'] {
    border-left: 5px solid #e80033;
}

.card[data-priority='low'] {
    border-left: 5px solid #05cc47;
}

.card[data-priority='medium'] {
    border-left: 5px solid #febd17;
}

.alert {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 999;
    top: 0;
    width: 460px;
    left: 0;
    bottom: 0;
    right: 0;
    color: #333;
    text-align: center;
    box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.1);
    height: 320px;
    border-radius: 4px;
    background: #fff;
    border: 1px solid #d2d3d3;
    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1);
}

.alert-button {
    border-radius: 5px;
    display: block;
    color: #fff;
    cursor: pointer;
    padding-top: 12px;
    font-size: 14px;
    text-decoration: none;
    padding-bottom: 12px;
    background: #40C36F;
    text-align: center;
    transition: .2s;
    width: 40%;
    margin-bottom: 15px;
}

.alert-button:hover {
    background: #39b765;
}

.alert-title {
    font-size: 28px;
    margin: 0;
    margin-bottom: 15px;
}

.alert-desc {
    margin: 0;
    margin-bottom: 35px;
}

.radio {
    position: relative;
    margin: 0 1rem 0 0;
    cursor: pointer;
}

.radio:before {
    transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
    -webkit-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    content: "";
    position: absolute;
    top: 0;
    left: 0.125rem;
    z-index: 1;
    width: 0.75rem;
    height: 0.75rem;
    background: #16a085;
    border-radius: 50%;
}

.radio[data-priority='high']:before {
    background: #e80033;
}

.radio[data-priority='low']:before {
    background: #05cc47;
}

.radio[data-priority='medium']:before {
    background: #febd17;
}

.radio:checked:before {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}

.radio:after {
    content: "";
    position: absolute;
    top: -0.25rem;
    left: -0.125rem;
    width: 1rem;
    height: 1rem;
    background: #fff;
    border: 2px solid #f2f2f2;
    border-radius: 50%;
}

.label-radio {
    position: relative;
    margin: .5rem;
    font-family: Arial, sans-serif;
    line-height: 135%;
    cursor: pointer;
}

.radio-list {
    list-style-type: none;
    display: flex;
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
}

.sidebar {
    position: fixed;
    padding-top: 86px;
    width: 16.3vw;
    line-height: 2;
    background: #fff;
    height: 100vh;
    box-shadow: .8px .9px 3px grey;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-item {
    padding-left: 18px;
    height: 50px;
    line-height: 50px;
    text-align: left;
    width: 100%;
    border-bottom: 1px solid #f0f0f0;
}

.menu-item:hover {
    background: #40C36F;
}

.menu-item-link {
    width: 100%;
    height: 100%;
    display: block;
    color: #aaa;
    text-decoration: none;
    margin-left: 15px;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-item-link:hover {
    color: #fff;
}

.menu-item-link:hover .menu-icon {
    color: #fff;
}

.menu-icon {
    color: gray;
    margin-right: 18px;
}

.menu-item-active {
    background: #40C36F;
}

.menu-item-active .menu-icon {
    color: #fff !important;
}

.menu-item-active .menu-item-link {
    color: #fff !important;
}
